body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F4F6FD;
  }
  
  .container {
    max-width: 400px;
    padding: 51px;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width:95%;
    padding: 10px;
    font-size: 15px;
    border: 0px solid #ddd;
    border-radius: 20px;
  }
  
  button[type="submit"] {
    display: block;
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #a2a5ff;
  color: white;
  border: none;
  border-radius: 26px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: #ff0000;
    margin-bottom: 10px;
    text-align: center;
  }
  